/* Header Logo Font */
@import url("https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-image: url(../images/welcomeBackground.jpg);
  background-size: cover;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 100px;
}

/* Header Style */
header {
  position: absolute;
  top: 0;
  left: 0;
  padding: 30px 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Header Logo Style */
header .logo {
  position: relative;
  text-decoration: none;
  color: #fff;
  font-size: 1.4em;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  transition: 0.5s;
  font-family: "Kode Mono", monospace;
}

header .logo:hover {
  color: #03a9f4;
}

/* Header Navigation Menu Style */

header .navigation {
  position: relative;
  display: flex;
}

header .navigation li {
  list-style: none;
}

header .navigation li a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  margin-right: 30px;
  transition: 0.5s;
  font-size: 17px;
  font-weight: 500;
}

header .navigation li a:hover {
  color: #03a9f4;
  transform: scale(1.1);
}

/* Content Style */
.content {
  max-width: 700px;
}

.content .contentBox h2 {
  color: #fff;
  font-size: 3.5em;
}

.content .contentBox p {
  color: #fff;
  font-weight: 300;
  font-size: 1.2em;
  line-height: 1.4;
  margin: 20px 0;
}

.content .contentBox a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  background-color: #03a9f4;
  text-align: center;
  padding: 10px 30px;
  letter-spacing: 1px;
  font-weight: 500;
  transition: 0.5s;
  border-radius: 20px;
  margin: 10px 0;
}

.content .contentBox a:hover {
  transform: scale(0.8);
}

/* Social Media Icon Style */
ul.sci {
  display: flex;
  position: absolute;
  bottom: 30px;
}

ul.sci li {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul.sci li a {
  position: relative;
  display: inline-block;
  margin-right: 20px;
  color: #fff;
  font-size: 1.6em;
  transition: 0.3s;
}

ul.sci li a:hover {
  transform: scale(0.8);
}

/* End Styling of the page*/